/* remove outline and border for the toggler */
.navbar-dark .navbar-toggler {
  outline: none;
  border: none;
}

/* style icon-bar*/
.navbar-toggler span {
  display: block;
  background-color: white;
  height: 3px;
  width: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;
  left: 0;
  opacity: 1;
  transition: all 0.2s ease-out;
  transform-origin: center left;
}

/* top line needs a little padding */
.navbar-toggler span:nth-child(1) {
  margin-top: 0.3em;
}

/* Before Collapse */
.navbar-toggler span:nth-child(1) {
  transform: translate(0%, 0%) rotate(0deg);
}

.navbar-toggler span:nth-child(2) {
  opacity: 1;
}

.navbar-toggler span:nth-child(3) {
  transform: translate(0%, 0%) rotate(0deg);
}

/* After Collapse */
.navbar-toggler:not(.collapsed) span:nth-child(1) {
  transform: translate(15%, -33%) rotate(45deg);
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
  opacity: 0;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
  transform: translate(15%, 33%) rotate(-45deg);
}
/* left side menu bar for mobile */
@media (max-width: 992px) {
  .navbar-collapse {
    position: fixed;
    top: 56px;
    left: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    width: 50%;
    height: 100%;
    background: black;
  }
  .navbar-collapse.collapsing {
    left: -50%;
    transition: height 0s ease;
  }
  .navbar-collapse.show {
    left: 0;
    transition: left 500ms ease-in-out;
  }
  .navbar-toggler.collapsed ~ .navbar-collapse {
        transition: left 500ms ease-in-out;
    }
}
.navbar-dark {
  z-index: 999 !important;
}
